.hi{
    background-color: linear-gradient(120deg, rgb(192, 233, 222) 0%, rgb(174, 174, 244) 50%, rgb(241, 180, 241) 100%);
}
.cont, .add{
    display:flex;
    flex-direction:column; 
    align-items:center;
    border: 1px solid rgb(215, 211, 211);
    background-color: rgb(240, 248, 255);
    border-radius:15px;
    position:relative;
}

.dot{
    position:absolute;
    top:-2px;
right: 8px;
   width: 25px;
    height:25px;
    padding: 0;
    color: black;
    border-radius:15px; 
    border:none;
    background-color:rgb(240, 248, 255);
    padding-top:5px;

}

.pro{
    width:200px;
    height:200px;
    border-radius:100px;
    border:1px solid grey;
    margin-top:10px;
}

.name{
    margin:0;
    margin-top:30px;
}

.dot:hover{
    background-color: rgb(204, 239, 246);
    cursor: pointer;
}

.options-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100px;
    padding: 10px;
    top: 35px;
    left: 200px;
    z-index: 1000;
  }
  
  .options-menu div {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .options-menu div:hover {
    background-color: #f0f0f0;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-overlay button{
cursor: pointer;
  }

  .add div{
      border-radius: 80px;
      margin-top: 75px;
      width: 150px; 
      height: 150px;
      background-color: rgb(224, 222, 222);
      padding: 5px;
  }
  .clss{
      position:absolute;
      top:493px; 
      right:660px;
  }
  
  .grd{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:50px;
    margin:10px;
  }

  .plus{
      padding-top: 25px;
      padding-left: 25px;
      color: grey;
  }
.btm{
  background-color: rgb(159, 159, 234);
  height: 100px;
  margin-top: 50px;
}

  @media(max-width: 367px) {
    .grd {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .cont{
      width: 270px;
      margin-left: 38px;
    }
    .clss{
      right: 205px;
      top: 448px;
    }
    .add{
      background-color: transparent;
      border: none;
      margin: 0;
      align-items: end;
      margin-bottom: 20px;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .add div{
      background-color: rgb(230, 229, 229);
      margin: 0;
      padding: 0;
      width: 35px;
      height: 35px;
      border-radius: 18px;
    }
    .plus{
      width: 30px;
      padding: 0;
      height: 30px;
      padding-top: 2px;
      padding-left: 3px;
    }
  }
  @media(max-width:355px)
  {
    .grd {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .clss{
      right: 185px;
      top: 448px;
    }
  }
  