.hi{
    background-color: linear-gradient(120deg, rgb(192, 233, 222) 0%, rgb(174, 174, 244) 50%, rgb(241, 180, 241) 100%);
}
.cont{
    display:flex;
    flex-direction:column; 
    align-items:center;
    border: 1px solid rgb(215, 211, 211);
    background-color: rgb(240, 248, 255);
    border-radius:15px;
    position:relative;
    cursor: pointer;
   

}


.pro{
    width:200px;
    height:200px;
    border-radius:100px;
    border:1px solid grey;
    margin-top:10px;
}

.name{
    margin:0;
    margin-top:30px;
}

.dot:hover{
    background-color: rgb(204, 239, 246);
    cursor: pointer;
}

.options-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100px;
    padding: 10px;
    top: 35px;
    left: 200px;
    z-index: 1000;
  }
  
  .options-menu div {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .options-menu div:hover {
    background-color: #f0f0f0;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .popup-overlay button{
cursor: pointer;
  }
  
.grd{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:50px;
    margin:10px;
}

  @media(max-width: 367px) {
    .grd {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .cont{
      width: 270px;
      margin-left: 38px;
    }
  }